main {
  width: 100%;
  display: flex;
}
aside {
  position: fixed;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 2rem;
}
aside.right a {
  padding: 9px 0;
  color: #000;
  margin-bottom: 1.5rem;
  text-align: center;
  height: 50px;
  display: inline-block;
  width: 50px;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: 0.4s;
}
aside.left {
  right: 0px;
}
aside.left a {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  transform: rotate(90deg);
  padding-right: 16rem;
  transition: 0.4s;
}
aside.right a:hover,
aside.left a:hover {
  color: #0088b9;
}
.container {
  padding: 10rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

/* Style for jumbotron */
.jumbotron {
  width: 100%;
  display: flex;
}
.jumbotron article {
  width: 75%;
}
.jumbotron article strong {
  font-size: 1.4rem;
  font-weight: 500;
  color: #0088b9;
}
.jumbotron article h1 {
  font-size: 6rem;
  margin-top: 1rem;
}
.jumbotron article h1 span {
  color: #0088b9;
}
.jumbotron article h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #0088b9;
  font-weight: 700;
}
.jumbotron article p {
  max-width: 90%;
  font-weight: 500;
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 2.5rem;
}
.jumbotron article a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #0088b9;
  padding: 0.5rem 1.5rem;
  border: 2px solid #0088b9;
  border-radius: 2rem;
  transition: 0.4s;
}
.jumbotron article a:hover {
  box-shadow: 0 0 0 4px rgba(0, 136, 185, 0.2);
}
.jumbotron img {
  width: 300px;
  height: 300px;
  filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.1));
  transition: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}
.jumbotron img:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}
@media screen and (max-width: 960px) {
  .jumbotron article h1 {
    font-size: 5rem;
    margin-top: 0.5rem;
  }
  .jumbotron article h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .jumbotron img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
  .container {
    padding: 10rem 4rem 4rem 4rem;
    width: 100%;
  }
  .jumbotron article a {
    font-size: 1.3rem;
  }
  .jumbotron img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .jumbotron {
    flex-direction: column-reverse;
  }
  .jumbotron article {
    width: 100%;
  }
  .jumbotron img {
    margin: 0 auto 3rem auto;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));
  }
  .jumbotron article h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  .jumbotron article h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .jumbotron article p {
    max-width: 100%;
  }
}

/* Style for about */
.about {
  margin-top: 8rem;
  width: 100%;
}
.about .title h1 > strong {
  font-size: 2.5rem;
}
.about .title h1 {
  font-size: 3rem;
  width: 100%;
}
.about .title h1 span {
  width: 30%;
  display: inline-block;
  background: #ccc;
  height: 1px;
}
.about .title strong {
  font-size: 1.5rem;
  color: #0088b9;
}
.about .title {
  margin-bottom: 2rem;
}
.about article p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.about article .information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.about article .information p {
  font-weight: 600;
}
.about article .information p a {
  text-decoration: none;
  color: #000;
}
.about article .information p span {
  color: #0088b9;
  padding-right: 1rem;
}
@media screen and (max-width: 576px) {
  .about .title h1 > strong {
    font-size: 2rem;
  }
  .about .title h1 {
    font-size: 2.5rem;
    width: 100%;
  }
}
