main {
  width: 100%;
  display: flex;
}
aside {
  background: #fff;
  position: fixed;
  width: 10%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 2rem;
}
aside.right a {
  padding: 9px 0;
  color: #555;
  margin-bottom: 1.5rem;
  text-align: center;
  height: 50px;
  display: inline-block;
  width: 50px;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: 0.4s;
}
aside.left {
  right: 0px;
}
aside.left a {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  transform: rotate(90deg);
  padding-right: 16rem;
  transition: 0.4s;
}
aside.right a:hover,
aside.left a:hover {
  color: #0088b9;
}
.container {
  padding: 10rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

/* Style for jumbotron */
#jumbotron {
  width: 100%;
  display: flex;
}
#jumbotron article {
  width: 75%;
}
#jumbotron article strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0088b9;
}
#jumbotron article h1 {
  font-size: 6rem;
  margin-top: 1rem;
}
#jumbotron article h1 span {
  color: #0088b9;
}
#jumbotron .wrapp {
  width: 100%;
  display: block;
}
#jumbotron .text {
  height: 40px;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 2rem;
}
#jumbotron .text h2 {
  color: #0088b9;
  font-size: 2.5rem;
  height: 40px;
  transition: 1s ease-in-out;
}
#jumbotron article p {
  max-width: 90%;
  font-weight: 500;
  line-height: 2.6rem;
  color: #555;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
#jumbotron article a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #0088b9;
  padding: 0.5rem 1.5rem;
  border: 2px solid #0088b9;
  border-radius: 2rem;
  transition: 0.4s;
}
#jumbotron article a:hover {
  box-shadow: 0 0 0 4px rgba(0, 136, 185, 0.2);
}
#jumbotron img {
  margin-right: 2rem;
  width: 300px;
  height: 300px;
  filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.1));
  transition: 0.4s;
  border-radius: 10px;
  cursor: pointer;
}
#jumbotron img:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}
@media screen and (max-width: 960px) {
  #jumbotron article h1 {
    font-size: 5rem;
    margin-top: 0.5rem;
  }
  #jumbotron img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
  .container {
    padding: 10rem 4rem 4rem 4rem;
    width: 100%;
  }
  #jumbotron article a {
    font-size: 1.3rem;
  }
  #jumbotron img {
    margin: 0;
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  #jumbotron {
    flex-direction: column-reverse;
  }
  #jumbotron article {
    width: 100%;
  }
  #jumbotron img {
    margin: 0 auto 3rem auto;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));
  }
  #jumbotron article h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  #jumbotron article p {
    max-width: 100%;
  }
}

/* Style for about, education, skills, and portfolio */
#about,
#education,
#skills,
#portfolio,
#contact {
  padding-top: 8rem;
  width: 100%;
}
#about .title h1 > strong,
#education .title h1 > strong,
#skills .title h1 > strong,
#portfolio .title h1 > strong,
#contact .title h1 > strong {
  font-size: 2.5rem;
}
#about .title h1,
#education .title h1,
#skills .title h1,
#portfolio .title h1,
#contact .title h1 {
  font-size: 3rem;
  width: 100%;
}
#about .title h1 span,
#education .title h1 span,
#skills .title h1 span,
#portfolio .title h1 span,
#contact .title h1 span {
  width: 30%;
  display: inline-block;
  background: #ccc;
  height: 1px;
}
#about .title strong,
#education .title strong,
#skills .title strong,
#portfolio .title strong,
#contact .title strong {
  font-size: 1.5rem;
  color: #0088b9;
}
#about .title {
  margin-bottom: 2rem;
}
#education .title,
#skills .title,
#portfolio .title,
#contact .title {
  margin-bottom: 3rem;
}
#about article p {
  line-height: 2.6rem;
  color: #555;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#about article .information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}
#about article .information p {
  font-weight: 600;
}
#about article .information p a {
  text-decoration: none;
  color: #000;
}
#about article .information p span {
  color: #0088b9;
  padding-right: 1rem;
}
@media screen and (max-width: 576px) {
  #about .title h1 > strong,
  #education .title h1 > strong,
  #skills .title h1 > strong,
  #portfolio .title h1 > strong,
  #contact .title h1 > strong {
    font-size: 2rem;
  }
  #about .title h1,
  #education .title h1,
  #skills .title h1,
  #portfolio .title h1,
  #contact .title h1 {
    font-size: 2.5rem;
    width: 100%;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper article {
  height: max-content;
  border-left: 0.1rem solid #ccc;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 2rem;
  line-height: 2.6rem;
  color: #555;
  font-size: 1.5rem;
  width: 48%;
}
.wrapper article time {
  text-align: right;
  display: inline-block;
  margin: 0.5rem auto;
  font-weight: 600;
  color: #0088b9;
  width: 100%;
}
.wrapper article h4 {
  font-size: 1.3rem;
  margin: 1rem auto;
  text-decoration: underline;
}
.wrapper article ul {
  position: relative;
  padding-left: 15px;
  list-style-image: url("../img/polygon.png");
  font-style: italic;
  list-style-position: outside;
}
.wrapper article ul li {
  padding: 2px 0 2px 6px;
}
.mainSkills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mainSkills .card {
  margin-bottom: 4rem;
  width: 48%;
}
.mainSkills .card h3 {
  font-weight: 600;
  font-size: 1.6rem;
  padding: 0.4rem 1.5rem;
  border-left: 2px solid #ccc;
}
.mainSkills .card .wrapIcon {
  margin-left: 1rem;
  display: flex;
  margin-top: 1.5rem;
}
.mainSkills .card .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  width: 50px;
  height: 50px;
  background: #fafafa;
  border-radius: 50%;
}
.mainSkills .card .icon img {
  width: 30px;
}
.icon .caption {
  opacity: 0;
  cursor: default;
  position: absolute;
  background: #555;
  color: #fff;
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  transform: translate(0%, 100%);
  transition: 0.6s;
}
.icon:hover .caption {
  opacity: 1;
}
@media screen and (max-width: 960px) {
  .wrapper article {
    width: 100%;
  }
  #education .wrapper article:first-child {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .mainSkills .card {
    width: 100%;
  }
  .mainSkills .card:last-child {
    margin-bottom: 0px;
  }
  #jumbotron .text {
    height: 30px;
  }
  #jumbotron .text h2 {
    color: #0088b9;
    font-size: 2rem;
  }
}
.mainPortfolio {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainPortfolio .card {
  position: relative;
  width: 32.5%;
  height: 35rem;
  margin-bottom: 1.5rem;
  background: #fafafa;
  padding: 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.8s;
}
.mainPortfolio .card:hover {
  top: -5px;
}
.mainPortfolio .card .cardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
}
.mainPortfolio .card .cardHeader > i {
  color: #0088b9;
}
.mainPortfolio .card .cardHeader a {
  color: #000;
  font-size: 2rem;
  transition: 0.4s;
}
.mainPortfolio .card .cardHeader a:hover {
  color: #0088b9;
}

.mainPortfolio .card .cardTeks {
  height: 30rem;
}
.mainPortfolio .card .cardTeks h5 {
  color: #000;
  padding-top: 2rem;
  font-size: 1.8rem;
  transition: 0.4s;
}
.mainPortfolio .card:hover .cardTeks h5 {
  color: #0088b9;
}
.mainPortfolio .card .cardTeks p {
  font-size: 1.4rem;
}
.mainPortfolio .card .cardFooter {
  display: flex;
  font-size: 1.2rem;
}
.mainPortfolio .card .cardFooter p {
  margin-right: 1rem;
}
@media screen and (max-width: 960px) {
  .mainPortfolio .card {
    width: 49%;
  }
}
@media screen and (max-width: 768px) {
  .mainPortfolio .card {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .mainPortfolio .card {
    height: 30rem;
  }
  .mainPortfolio .card .cardTeks {
    height: 25rem;
  }
}
#contact .mainContact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact form {
  position: relative;
  top: -20px;
  width: 48%;
  font-size: 1.4rem;
}
#contact form label {
  font-weight: 500;
  background: #fff;
  padding: 0 0.4rem;
  position: relative;
  bottom: -10px;
  left: 40px;
}
#contact form input,
textarea,
button {
  color: #555;
  margin-bottom: 2rem;
  width: 100%;
  padding: 1.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 3rem;
  font-family: "Poppins", sans-serif;
}
#contact form input:focus,
textarea:focus {
  outline: none;
}
#contact form button {
  font-size: 1.5rem;
  color: #0088b9;
  font-weight: 700;
  border: 2px solid #0088b9;
  padding: 1rem;
  background: #fff;
  margin-top: 1rem;
  width: 150px;
  cursor: pointer;
  transition: 0.4s;
}
#contact form button:hover {
  box-shadow: 0 0 0 4px rgba(0, 136, 185, 0.2);
}
#contact form button img {
  width: 1rem;
  margin-right: 1rem;
}
#contact .ttd {
  height: max-content;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border: 1px solid #ccc;
  border-radius: 3rem;
}
#contact .ttd img {
  width: 10rem;
}
#contact .ttd strong {
  margin-top: 1.2rem;
  font-size: 2.8rem;
}
#contact .ttd strong span {
  color: #0088b9;
}
@media screen and (max-width: 768px) {
  #contact form {
    width: 100%;
  }
  #contact .ttd {
    width: 100%;
    margin-top: 2rem;
  }
}
.myAlert {
  border-radius: 2rem;
  margin: 0 auto 4rem auto;
  width: 25rem;
  height: 6rem;
  background: rgba(0, 136, 185, 0.05);
  border: 2px solid #0088b9;
  text-align: center;
}
.myAlert p {
  width: 100%;
  font-size: 1.2rem;
  transform: translate(0%, 25%);
}
.myAlert .close {
  font-weight: 700;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  background: none;
  padding: 20px;
  width: 1rem;
  height: 1rem;
  color: #000;
  transform: translate(-280%, -140%);
  transition: 0.4s;
}
.myAlert .close:hover {
  color: red;
}
.hide {
  display: none;
}
