header {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  height: 6rem;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.headerLogo strong {
  font-size: 2.5rem;
  cursor: default;
}
.headerLogo strong > span {
  font-size: 3rem;
  color: #0088b9;
}
.bg-sidebar {
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  transition: 0.3s;
  visibility: hidden;
}
.bg-sidebar.change {
  right: 0;
  visibility: visible;
  display: block;
}
.burger {
  display: relative;
  margin-top: 300px;
  margin-bottom: 4rem;
  margin-left: 100px;
  display: block;
  cursor: pointer;
  z-index: 2;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: #000;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}
.bar2 {
  width: 20px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 6px);
  transform: rotate(-45deg) translate(-7px, 6px);
  background-color: #000;
}
.change .bar2 {
  opacity: 0;
  background-color: #000;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -8px);
  transform: rotate(45deg) translate(-7px, -8px);
  background-color: #000;
}
nav {
  top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
nav ul {
  align-items: center;
  position: relative;
  transition: 0.4s;
  right: -500px;
  font-weight: 600;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}
nav ul li a {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul.change {
  right: 0;
  transition: 0.4s;
}
nav ul li > a {
  text-decoration: none;
  color: #000;
  transition: 0.4s all;
}
nav ul li > a:hover {
  color: #0088b9;
}
nav ul li > .active {
  color: #0088b9;
}
nav ul li span {
  font-size: 1rem;
  color: #0088b9;
}
nav ul > a i {
  margin-left: 4px;
}
nav ul > a {
  text-decoration: none;
  color: #0088b9;
  display: inline-block;
  padding: 4px 14px;
  border: 2px solid #0088b9;
  border-radius: 20px;
  transition: 0.4s all;
}
nav ul > a:hover {
  box-shadow: 0 0 0 3px rgba(0, 136, 185, 0.2);
}

@media screen and (min-width: 960px) {
  header {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
  }
  .bg-sidebar.change {
    right: 0;
    visibility: hidden;
    display: none;
  }
  .burger {
    display: none;
  }
  nav {
    top: 0;
    width: 60rem;
  }
  header > i {
    display: none;
    visibility: hidden;
  }
  nav ul {
    position: relative;
    top: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav ul li a {
    display: inline-block;
    margin: auto 0;
  }
}
