/* Style for navbar */
@import url("navbar.css");

/* Style for main */
@import url("main.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
}
