/* Style for navbar */
@import url("navbar.css");

/* Style for main */
@import url("main.css");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 390px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
